<nav>
    <ul>
        <li>
            <a routerLink="/meu-componente" routerLinkActive="link-ativo">Meu Componente</a>
        </li>
        <li>
            <a routerLink="/contador" routerLinkActive="link-ativo">Contador</a>
        </li>
        <li>
            <a routerLink="/ngIf" routerLinkActive="link-ativo">IF</a>
        </li>
        <li>
            <a routerLink="/ngfor" routerLinkActive="link-ativo">FOR</a>
        </li>
        <li>
            <a routerLink="/animais" routerLinkActive="link-ativo">Página animais</a>
        </li>
    </ul>
</nav>

<router-outlet/> <!--rotas-->

<!-- <p>ola mundo</p>

<app-meu-componente [nome2]="nome"/>

<b>{{contadorPai}}</b>
<app-contador (foiAlterado)="quandoFoiAlterado($event)"/>

<app-ng-if/>
<app-lista-animais/> -->
